.map-container {
    height: 680px;
}

.margin-top-md {
    margin-top: 15px;
}

.margin-bottom-md {
    margin-bottom: 15px;
}

.padding-left-none {
    padding-left: 0px !important;
}

.summary-element {
    display: block;
    height: 30px;
}

.blink_me {
  /*animation: blinker 1s linear infinite;*/
}

@keyframes blinker {
  50% { opacity: 0; }
}

.map-container div:nth-child(3) {
    height: 680px;
}
